/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700";

html {
    height: 200%;
}

body {
    font-family: 'roboto', sans-serif;
    background: #fafafa;
    height: 200%;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #fff;
}

a,
a:hover,
a:focus {
    color: rgb(76, 10, 58);
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 4px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar-wrapper .sidebar-menu ul li a i {
    margin-right: 20px;
    font-size: 15px;
    width: 50px;
    height: 50px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.5);
}

.sidebar-wrapper .sidebar-menu ul li a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    position: relative;
    padding: 8px 30px 8px 20px;
}

.chiller-theme {
    background: rgb(76, 10, 58);
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background: rgba(255, 255, 255, 0.3);
}

.sidebar-wrapper .sidebar-search > div {
    padding: 10px 20px;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 200%;
    align-items: stretch;
}

#sidebar {
    min-width: 195px;
    max-width: 195px;
    background: #531055;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -195px;
}

#sidebar .sidebar-header {
    padding: 20px 10px;
    background: #531055;
}

#sidebar ul.components {
    padding: 20px 0;
    background: #531055;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    color: #fff;
    display: block;
}

#sidebar ul li a:hover {
    color: rgb(76, 10, 58);
    background: white;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: rgb(76, 10, 58);
    background: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* ---------------------------------------------------
    ONCLICK BLOCKS/TAGS
----------------------------------------------------- */

#block_bdd, #block_bus-message, #block_java, #block_web, #block_javascript, #block_php, #block_dotnet,
#block_langages, #block_framework, #block_reporting, #block_serveur-appli, #block_virtualisation, #block_exploitation, #block_os,
#block_produits, #block_outils, #block_tests, #block_kit-adventiel, #block_protocoles, #block_integration-continue, #block_iot,
#block_reseau-lan, #block_reseau-securite, #block_reseau-toip, #block_stockage-san, #block_outillage-exploitation, #block_outillage-industrialisation,
#block_messagerie, #block_securite, #block_diver, #block_svi, #block_os-serveurs {
    display: none;
}


/* ---------------------------------------------------
    INFOBULLES
----------------------------------------------------- */
/* Tooltip container */

/* Tooltip text */


.tag_competence .tooltiptext {
    position: absolute;
    min-width: 100px;
    max-width: 200px;
    color: rgb(76, 10, 58);
    margin-top: 25px;
    margin-left: -40px;
    line-height: 20px;
    padding: 5px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
    transform: scale(0) rotate(-12deg);
    opacity: 0;
    z-index: 8;
    transition: all .25s;
    text-transform: lowercase;
}

@-moz-document url-prefix() {
    .tag_competence .tooltiptext {
        margin-top: 35px;

        margin-left: 40%;
    }
}

.tag_competence .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%; /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(76, 10, 58) transparent;
}


.tag_competence:hover .tooltiptext, .tag_competence:focus .tooltiptext {
    transform: scale(1) rotate(0);
    opacity: 1;

}
/* ---------------------------------------------------
    Tags Search Page
----------------------------------------------------- */


.tag_competence_search {
    color: #555455;
    background-color: white;
    text-align: center;
    margin: 2px;
    text-decoration: none;
    position: relative;
    display: inline-block;
    font-size: 13px;
    line-height: 30px;
    padding: 0px 10px 0px 18px;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: all .3s ease-in-out;
    font-family: "Roboto";
    border: 1px solid #CCC;
    display: none;
}
/* ---------------------------------------------------
    Dropdown select
----------------------------------------------------- */


.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
    border:none;
    overflow: visible;

}


#checkboxes, #checkboxesService {
    display: none;
    position: absolute;
    z-index: 5;
    background: white;
    padding: 5px;
}

#checkboxes label, #checkboxesService label{
    display: block;
    font-size:15px;
    text-align: left;
}

/* ---------------------------------------------------
    ACCORDION
----------------------------------------------------- */
.card .btn-link {
    color: rgb(76,10,58);
    text-decoration: none;
    font-weight: bold;
}

.form-check .form-check-input {
    margin-top: 0.25rem;
}

.card-body {
    padding-bottom: 0px;
    padding-top: 8px
}

.card-header {
    padding: 0px;
}

/* Customize the label (the container) */
label.container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: rgb(76, 10, 58);
}
.checkedCheckmark, .container:hover input ~ .checkedCheckmark{
    background-color: rgb(76, 10, 58);

}
.angularJS {
    display: none;
}

#Presta {
    display: none;
}

.checks {
    content: "";
    position: absolute;
    left: 7px;
    top: 2px;
    width: 6px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 7px;
    top: 2px;
    width: 6px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* ---------------------------------------------------
    RATING STARS
----------------------------------------------------- */
.reset-star {
    margin-right: 10px;
}

.rating, .reset-star, .rating-style {
    overflow: hidden;
    display: inline-block;
    position: relative;
    font-size: 17px;
    color: rgb(200,200,200);
}
#tag_test .rating .rating-star {
    float: right;
}

.rating-star {
    padding: 0 2px;
    margin: 0;
    cursor: pointer;
    display: inline-block;
    float: right;
}

.reset-star:after {
    font-family: FontAwesome;
    content: '\f056';
    color: rgb(200,200,200);
}

.rating-star:after {
    font-family: FontAwesome;
    content: '\f005';
}

.reset-star.checked ~ .reset-star:after,
.reset-star.checked:after {
    content: '\f005';
    color: red;
}

.rating-star.checked ~ .rating-star:after,
.rating-star.checked:after {
    content: '\f005';
    color: #ffc107;
}

.rating-star.darker {
    content: '\f005';
    color: rgb(100,100,100);
}

.reset-star:hover .reset-star:after {
    content: '\f00d';
}

.rating:hover .rating-star:after {
    content: '\f005';
}

.reset-star:hover ~ .reset-star:after,
.reset-star:hover:after {
    content: '\f056' !important;
    color: red;
}



.rating-star:not(.rating-fixed):hover ~ .rating-star:after,
.rating-star:not(.rating-fixed):hover:after {
    content: '\f005' !important;
    color: #ffc107;
}

.rating-star.checked:not(.rating-fixed):hover ~ .rating-star.checked:after,
.rating-star.checked:not(.rating-fixed):hover:after {
    content: '\f005';
    color: rgb(200,200,200);
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content\ container {
    width: 100%;
}

.competences_eval {
    width: 100%;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

main .header {
    color: rgb(76, 10, 58);
    background-size: cover;
    margin-bottom: 8px;
    padding: 0px;
    text-align: center;
    z-index: 10;
}

main ul {
    list-style-type: none;
    position: sticky;
    margin: 0;
    padding: 0;
    display: inline-block;
    z-index: 8;
}

main li {
    float: left;
}

main th a {
    color: white;
}

.violet {
    background-color: rgba(76, 10, 89, 0.001);
    height: 100vh;
    margin-top: 0px;
    margin-left: 20px;
}


.fiche_id {
    background-color: white;
    border: black;
    border: 1px;
    padding: 15px;
    height: 530px;
}

#conteneur table {
    align-items: stretch;


}


/* ---------------------------------------------------
    MENU STYLE
----------------------------------------------------- */

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: flex;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#cssmenu:after,
#cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#cssmenu {
    width: auto;
    border-bottom: 2px solid rgb(76, 10, 58);
    margin-bottom: 10px;
    font-family: Raleway, sans-serif;
    line-height: 1;
    margin-top: 8px
}

#cssmenu > ul > li {
    float: left;
}

#cssmenu.align-center > ul {
    font-size: 0;
    text-align: center;
}

#cssmenu.align-center > ul > li {
    display: inline-block;
    float: none;
}

#cssmenu.align-right > ul > li {
    float: right;
}

#cssmenu.align-right > ul > li > a {
    margin-right: 0;
    margin-left: -4px;
}

#cssmenu > ul > li > a {
    z-index: 2;
    padding: 18px 25px 12px 25px;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(76, 10, 58);
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    margin-right: -4px;
    background: #ededed;
}

#cssmenu > ul > li.active > a {
    color: #ffffff;
    background: #531055
}

#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
    color: #FFF;
    background: #531055
}


@-moz-document url-prefix() {
    #cssmenu > ul > li > a:after {
        bottom: -3px;
    }
}

#cssmenu > ul > li.active > a:after {
    background: rgb(76, 10, 58);
}

#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
    background: rgba(255, 255, 255, 0.5);
    border: rgba(76, 10, 58, 0.5) 2px solid;
    border-bottom: none;
    padding-right: 5px;
    padding-left: 5px;
}


/* ---------------------------------------------------
    NOTIF
----------------------------------------------------- */
.notif {
    display: block;
    position: absolute;
    border-radius: 15px;
    height: 15px;
    width: 15px;
    background: #a72d89;
    line-height: 15px;
    color: #FFF;
    font-size: 11px;
    text-align: center;
    right: 2px;
    z-index: 100;
    top: -7px;
    font-weight: bold;
}

/* ---------------------------------------------------
    button style
----------------------------------------------------- */
.button-search {

}
/* ---------------------------------------------------
    TAG STYLE
----------------------------------------------------- */


.tag_competence {
    color: #555455;
    background-color: white;
    text-align: center;
    margin: 2px;
    text-decoration: none;
    position: relative;
    display: inline-block;
    font-size: 13px;
    line-height: 30px;
    padding: 0px 41px 0px 18px;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: all .3s ease-in-out;
    font-family: "Roboto";
    border: 1px solid #CCC;


}

ul li.tag_competence span {
    top: 1px;
    right: 10px;
    position: absolute;
    display: block

}

li.tag_competence:hover .fa-plus-circle, .fa-comment-alt {
    color: white;
    font-size: 17px;
}

li.tag_competence:hover {
    background-color: rgb(76, 10, 58);
    color: white;

}

li a.tag_competence {
    display: block;
    color: black;
    background-color: white;
    border: black 1px;
    text-align: center;
    margin: 5px;
    text-decoration: none;
}

li > a.tag_competence {
    position: relative;
    display: inline-block;
    font-size: 12px;
    line-height: 40px;
    padding: 0 2em;
    -webkit-transition: all 1s ease;
}

tr th span .fa-minus-circle {
    margin-left: 10%;
}

ul li span .fa-minus-circle {
    color: rgb(76, 10, 58);
    font-size: 15px;
}

.popup {
    margin-left: 40%;
}

.fa-comment-alt:hover {
    color: forestgreen;
}

.fa-minus-circle:hover {
    color: #e53012;

}

.fa-plus-circle {
    color: rgb(76, 10, 58);
    font-size: 17px;
}


/* ---------------------------------------------------
    COMMENTAIRES
----------------------------------------------------- */

/* Popup container - can be anything you want */
.popup {
    position: relative;
    z-index: 500;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 250px;
    background-color: #FFF;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 5px;
    position: absolute;
    z-index: 1;
    top: 132%;
    left: 30%;
    margin-left: -150px;
    -webkit-box-shadow: -4px 2px 16px -3px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: -4px 2px 16px -3px rgba(0, 0, 0, 0.52);
    box-shadow: -4px 2px 16px -3px rgba(0, 0, 0, 0.52);
}

textarea.textarea-commentaire {
    border: 1px solid #CCC;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.6);
    font-size: 15px;
}

textarea.textarea-commentaire:focus, textarea.textarea-commentaire:active, textarea.textarea-commentaire:current {
    border: 2px deepskyblue solid;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 60%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.btn-sbmt-comment {

    background-color: rgb(76, 10, 58);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    margin: 5px;
    opacity: 0.8;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* ---------------------------------------------------
    MANAGER STYLE
----------------------------------------------------- */
.note_manager {
    width: 35px;

}

input[type=number] {
    border: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 1px;
    outline: none;
    border-bottom: 2px solid rgba(76, 10, 58, 0.5);
    -webkit-transition: border .3s ease;
}

input[type=number]:focus {
    border: 2px solid rgba(76, 10, 58, 0.5);
}

.activeinput {
    border: 3px solid red;
    background: rgba(76, 10, 58, 0.2);
}


/* ---------------------------------------------------
    TABLE STYLE
----------------------------------------------------- */
HEAD .table-dark {
}
.table-striped {

    margin-top: 20px;
}

.table.tableResults thead th {
    border-bottom: none;
}


.table.tableResults td, .table.tableResults th {
    padding-left: .75rem;
    padding-right: .75rem;
    padding-top: .5rem;
    padding-bottom: 0;
    vertical-align: top;
    border-top: none;
}

.limiter {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    background: white;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

table * {
    position: relative;
}

table td, table th {
    padding-left: 8px;
}

table thead tr {
    height: 35px;
    color: #531055;
    background: #FFF
}

table tbody tr {
    height: 30px;
}

table tbody tr:last-child {
    border: 0;
}

table td, table th {
    text-align: left;
}

table td.l, table th.l {
    text-align: right;
}

table td.c, table th.c {
    text-align: center;
}

table td.r, table th.r {
    text-align: center;
}

.table100 {
    border: 1px solid #CCC
}


.table100-head th {
    font-size: 18px;
    color: #531055;
    line-height: 1.2;
    font-weight: unset;
}

.table100-head1 {
    font-size: 17px;
    color: #531055;
    line-height: 1.2;
    font-weight: bold;
    text-align: left;
    padding: 5px 10px 5px 10px;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

tbody tr:nth-child(odd) {
    background-color: #f5f5f5;
}

tbody tr:nth-child(even) {
    background-color: white;
}

tbody tr {
    font-size: 15px;
    color: #444;
    line-height: 1.2;
    font-weight: unset;
}

tbody tr:hover {
    color: #555555;
    background-color: white;
    cursor: pointer;
}

.form-group {
    position: relative;
    padding-top: 1.5rem;
}

label {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.2s ease-out;
}

input {
    border: 1px solid #CCC
}

.block_col_2, .block_col_4 {
    padding-right: 10px;
    position: absolute;
    top: 7px;
    right: 0;
}

.manager .block_col_2, .manager .block_col_4 {
    padding-right: 25px;
    position: relative;
    top: 0

}


input:placeholder-shown + label {
    opacity: 0;
    transform: translateY(1rem);
}

.column1, .column3 {
    /*min-width: 150px;*/
    padding-left: 10px;
}

.column2, .column4 {
    /*width: 150px;*/
}

.manager2 .column2, .manager .column4 {
    width: 100px;
}

.manager2 .column5 {
    width: 250px
}

.column5 {
    width: 40px;
    text-align: center;
    padding-right: 15px;
}

.column6 {
    width: 222px;
    text-align: right;
    padding-right: 62px;
}


@media screen and (max-width: 992px) {
    table {
        display: block;
    }

    table > *, table tr, table td, table th {
        display: block;
    }

    table thead {
        display: none;
    }

    table tbody tr {
        height: auto;
        padding: 20px 0;
    }

    table tbody tr td {
        padding-left: 40% !important;
        margin-bottom: 24px;
    }

    table tbody tr td:last-child {
        margin-bottom: 0;
    }

    table tbody tr td:before {
        font-size: 14px;
        color: #999999;
        line-height: 1.2;
        font-weight: unset;
        position: absolute;
        width: 40%;
        left: 30px;
        top: 0;
    }

    table tbody tr td:nth-child(1):before {
        content: "Nom";
    }

    table tbody tr td:nth-child(2):before {
        content: "Prenom";
    }

    table tbody tr td:nth-child(3):before {
        content: "Fonction";
    }

    table tbody tr td:nth-child(4):before {
        content: "Compétence 1";
    }

    table tbody tr td:nth-child(5):before {
        content: "Compétence 2";
    }

    table tbody tr td:nth-child(6):before {
        content: "Compétence 3";
    }

    table.table_comp tbody tr td:nth-child(1):before {
        content: "Compétence";
    }

    table.table_comp tbody tr td:nth-child(2):before {
        content: "Note";
    }

    table.table_comp tbody tr td:nth-child(3):before {
        content: "Compétence";
    }

    table.table_comp tbody tr td:nth-child(4):before {
        content: "Note";
    }

    table.table_comp tbody tr td:nth-child(5):before {
        content: "Compétence";
    }

    table.table_comp tbody tr td:nth-child(6):before {
        content: "Note";
    }

    .column4,
    .column5,
    .column6 {
        text-align: left;
    }

    .column4,
    .column5,
    .column6,
    .column1,
    .column2 {
        width: 100%;
    }

    tbody tr {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .container-table100 {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -195px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
}